extends ../layout

block content

  article#google-maps-gui.max-height
  section#carpool_address_section
    article#carpool_address_container
      ul
        li#carpool_list_item_start_address.li-text-decor= "Carpool starting address: " + carpool_information.starting_address
        li#carpool_list_item_end_address.li-text-decor= "Carpool ending address: " + carpool_information.ending_address 
        li#carpool_list_item_maximum_passengers.li-text-decor= "Maximum passengers allowed in carpool: " + carpool_information.maximum_passengers
        li#carpool_list_start_time.li-text-decor= "Start time of carpool: " + carpool_information.start_time
        li#carpool_list_end_time.li-text-decor= "End time of carpool: " + carpool_information.end_time 
  div#directions_sidebar

  form(action='/create-checkout-session', method='POST')
    label#buy_ticket_label(for="carpool_id") Buy a ticket for this carpool
    br
    input(type="hidden" id="carpool_id_input" name="carpool_id" value=carpool_information.id)
    button#submit_form_button.button-main(type='submit') Click me to submit
  script(src='/javascripts/google_maps_detailed_view.js')
  script(src='/javascripts/get_query_parameters.js')
  script(async='' defer='' src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAKz3oZ9x--Z_1py4gMmwS0ETUG112nXJY&libraries=places&callback=initMap&v=weekly')
